<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/sites/CulminatingTGJ2O/styles/w3.css">
    <link rel="stylesheet" href="/sites/CulminatingTGJ2O/styles/main.css">
    <link rel="stylesheet" href="/sites/CulminatingTGJ2O/views/header.css">
    <script src="/sites/CulminatingTGJ2O/scripts/jquery.min.js"></script>
</head>

<body>
    <span  title="From https://static.pexels.com/photos/4062/landscape-mountains-nature-lake.jpeg">
    <div id="title" class="w3-teal imageContainer" onclick='window.open("/sites/CulminatingTGJ2O", "_self");' onmouseenter='$("#title").addClass("hand-hover")' onmouseleave='$("#title").removeClass("hand-hover")' style="overflow:hidden; height:300px; width:100%; position:relative;">
        <h1 class="w3-display-middle" id="headerTitle">Digital Portfolio</h1>
    </span>
    </div>
</body>

</html>
