<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/sites/CulminatingTGJ2O/styles/w3.css">
    <link rel="stylesheet" href="/sites/CulminatingTGJ2O/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/sites/CulminatingTGJ2O/scripts/w3.js"></script>
</head>

<body>
    <div w3-include-html="/sites/CulminatingTGJ2O/views/header.html"></div>
    <script>
        w3.includeHTML();
    </script>

    <div id="navBar" class="fixed-nav-bar">
        <div class="w3-bar w3-dark-grey w3-card-2">
            <button id="home" class="w3-bar-item w3-button w3-border-right" onclick='window.open("/sites/CulminatingTGJ2O/", "_self");'><i class="fa fa-home"></i></button>

            <div class="w3-dropdown-hover">
                <button id="planning" class="w3-button w3-border-right">Planning</button>
                <div class="w3-dropdown-content w3-bar-block w3-light-grey w3-border">
                    <button id="research" class="w3-bar-item w3-button" onclick='window.open("/sites/CulminatingTGJ2O/pages/planning/research", "_self")'>Research</button>
                    <button id="layout" class="w3-bar-item w3-button" onclick='window.open("/sites/CulminatingTGJ2O/pages/planning/layout", "_self")'>Web Layout</button>
                </div>
            </div>

            <button id="reflections" class="w3-bar-item w3-button w3-border-right" onclick='window.open("/sites/CulminatingTGJ2O/pages/reflections", "_self", "_self");'>Reflections</button>

            <div class="w3-dropdown-hover">
                <button id="gallery" class="w3-button w3-border-right ">Projects</button>
                <div class="w3-dropdown-content w3-bar-block w3-light-grey w3-border ">
                    <button id="photoshop" class="w3-bar-item w3-button w3-border-bottom " onclick='window.open("/sites/CulminatingTGJ2O/pages/gallery/photoshop/", "_self")'>Photoshop</button>
                    <button id="photography" class="w3-bar-item w3-button w3-border-bottom " onclick='window.open("/sites/CulminatingTGJ2O/pages/gallery/photography/", "_self")'>Basic Photography</button>
                    <button id="indesign" class="w3-bar-item w3-button w3-border-bottom " onclick='window.open("/sites/CulminatingTGJ2O/pages/gallery/indesign/", "_self")'>InDesign</button>
                    <button id="video" class="w3-bar-item w3-button " onclick='window.open("/sites/CulminatingTGJ2O/pages/gallery/video/", "_self")'>Video Editing</button>
                </div>
            </div>

            <div style="float:right ">
                <button class="w3-bar-item w3-button w3-border-left w3-green ">Michael Pu - TGJ2O</button>
            </div>
        </div>
</body>

</html>
