<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/CulminatingCHC2D6/styles/w3.css">
    <link rel="stylesheet" href="/CulminatingCHC2D6/styles/main.css">
    <script src="/CulminatingCHC2D6/scripts/jquery.min.js"></script>
</head>

<body>
    <div id="title" class="w3-container w3-teal" onclick='window.open("/CulminatingCHC2D6/", "_self");' onmouseenter='$("#title").addClass("hand-hover")' onmouseleave='$("#title").removeClass("hand-hover")'>
        <h1>Culminating Project - CHC2D6</h1>
    </div>
</body>
</html>
