<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/CulminatingCHC2D6/styles/w3.css">
    <link rel="stylesheet" href="/CulminatingCHC2D6/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/CulminatingCHC2D6/scripts/w3.js"></script>
</head>

<body>
    <div w3-include-html="/CulminatingCHC2D6/views/header.html"></div>
    <script>
        w3.includeHTML();
    </script>

    <div id="subHeading w3-bar w3-dark-grey w3-card-2">

        <button class="w3-bar-item w3-button w3-border-left w3-green">Evolution of Canadian Autonomy</button>

        <div style="float:right">
            <button class="w3-bar-item w3-button w3-border-left w3-green">Michael Pu - CHC2D6</button>
        </div>
    </div>

    <div id="navBar" class="fixed-nav-bar">
        <div class="w3-bar w3-dark-grey w3-card-2">

            <button id="intro" class="w3-bar-item w3-button w3-border-right">Introduction</button>
            <button id="1914" class="w3-bar-item w3-button w3-border-right">1914-1929</button>
            <button id="1929" class="w3-bar-item w3-button w3-border-right">1929-1945</button>
            <button id="1945" class="w3-bar-item w3-button w3-border-right">1945-1982</button>
            <button id="1982" class="w3-bar-item w3-button w3-border-right">1982-Present</button>

            <div style="float:right">
                <button class="w3-bar-item w3-button w3-border-left w3-green">Michael Pu - CHC2D6</button>
            </div>
        </div>
</body>

</html>
