<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/sites/clock/styles/w3.css">
    <link rel="stylesheet" href="/sites/clock/styles/main.css">
    <script src="/clock/scripts/jquery.min.js"></script>
</head>

<body>
    <div id="title" class="w3-container w3-teal" onclick='window.open("/sites/clock", "_self");' onmouseenter='$("#title").addClass("hand-hover")' onmouseleave='$("#title").removeClass("hand-hover")'>
        <h1>Clock</h1>
    </div>
</body>

<script src="scripts/include.js"></script>

</html>
