.nav-bar-fixed {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.hand-hover {
    cursor: pointer;
}

h1.large {
    font-size: 15vh;
}

h1.mid-large {
    font-size: 3vh;
}

h1.large-input {
    font-size: 13vh;
}
