<!DOCTYPE html>
<html>

<head>
    <title>Web Layout - Digital Portfolio</title>
    <script src="../../../scripts/jquery.min.js"></script>
    <script src="../../../scripts/w3.js"></script>
    <script src="../../../scripts/main.js"></script>
    <script src="layout.js"></script>
    <link rel="stylesheet" href="../../../styles/w3.css">
    <link rel="stylesheet" href="../../../styles/main.css">
    <link rel="shortcut icon" href="/sites/CulminatingTGJ2O/includes/favicon.ico" />
</head>

<body>

    <div w3-include-html="../../../views/navBar.html"></div>

    <div class="w3-panel w3-light-blue w3-display-container w3-leftbar w3-border-blue w3-border">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-light-blue w3-large w3-display-topright">&times;</span>
        <p>The following is a rough layout of this webpage used during the planning stage.</p>
    </div>

    <div class="w3-display-container">
        <div class="w3-card w3-hover-shadow w3-margin w3-display-topmiddle" style="width:70%" align="center">
            <header class="w3-container w3-blue">
                <h1>Web Layout Planning</h1>
            </header>
            <div class="w3-container w3-grey">
                <object data="include/webLayout.pdf#view=fit&toolbar=1" type="application/pdf" width="100%" height="850">
                    alt: <a href="include/webLayout.pdf"> Click to download the PDF file.</a>
                </object>
            </div>
        </div>
    </div>

    <div class="w3-container" id="content"></div>

</body>

<script src="../../../scripts/include.js"></script>

</html>
